@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	color: #444444;
}

* {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

.section-products {
	padding: 80px 0 54px;
}

.section-products .header {
	margin-bottom: 50px;
}

.section-products .header h3 {
	font-size: 1rem;
	color: #fe302f;
	font-weight: 500;
}

.section-products .header h2 {
	font-size: 2.2rem;
	font-weight: 400;
	color: #444444;
}

.section-products .single-product {
	margin-bottom: 26px;
}

.section-products .single-product .part-1 {
	position: relative;
	height: 290px;
	max-height: 290px;
	margin-bottom: 20px;
	overflow: hidden;
}

.section-products .single-product .part-1::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
	transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products .single-product .part-1 .discount, .section-products .single-product .part-1 .new
	{
	position: absolute;
	top: 15px;
	left: 20px;
	color: #ffffff;
	background-color: #fe302f;
	padding: 2px 8px;
	text-transform: uppercase;
	font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
	left: 0;
	background-color: #444444;
}

.section-products .single-product .part-1 ul {
	position: absolute;
	bottom: -41px;
	left: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 0;
	transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
	bottom: 30px;
	opacity: 1;
}

.section-products .single-product .part-1 ul li {
	display: inline-block;
	margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #ffffff;
	color: #444444;
	text-align: center;
	box-shadow: 0 2px 20px rgb(50 50 50/ 10%);
	transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
	color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
	font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
	display: inline-block;
	font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
	position: relative;
	padding: 0 7px;
	margin-right: 2px;
	opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #444444;
	transform: translateY(-50%);
}

.list-link {
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 30px;
}

.link {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #d8d8d8;
}

.link:hover {
	color: #afafaf;
	padding-bottom: 5px;
	border-bottom: 3px solid;
}

.info-img {
	width: 640px;
	height: 640px;
}

/* review */
.review-box {
	width: 80%;
	margin: 0 auto;
}

.score-box {
	width: 80%;
	margin: 0 auto;
	height: 150px;
}

.score-chart {
	width: inherit;
	height: inherit;
}

.score-box-2 {
	width: 100%;
	height: 100%;
	border: 1px solid #bfbfbf;
}

.review-save {
	width: 233px;
	height: 36px;
	border: 0px;
	background-color: rgba(113, 113, 113, 1);
	color: white;
	cursor: pointer;
	border: 1px solid #bfbfbf;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.review-button {
	width: 236px;
	height: 36px;
	border: 0;
	color: #575757;
	cursor: pointer;
	background: white;
	border: 1px solid #bfbfbf;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.review-button-box {
	border: 1px solid #bfbfbf;
	border-top: none;
}

.qa-button {
	width: 233px;
	height: 36px;
	border: none;
	background-color: rgba(113, 113, 113, 1);
	color: white;
}

.main-image {
	width: 300px;
	height: 300px;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

li {
	list-style: none;
}

.review_title{
	font-weight: bold;
	color: rgba(0, 0, 0, 0.342) ;
}

.review_count{
	font-weight: bold;
	font-size: 1.2rem;
}

.score_sum{
	font-weight: bold;
}

.button_group{
	display: flex;
	gap: 5px;
}

.division{
	border-bottom: 1px solid rgb(201, 201, 201);
}
.image_list {
	display: inline-flex;
	flex-direction: column;
}
.image_list img:nth-child(1){
	width: 400px;
	height: 500px;
}
.image_list img {
	width: 100px;
	height: 100px;
}

.sale{
	background-color: black !important;
	color: white !important;
}
.cart,.wish{
	border: 1px solid black !important;
}
.edit {
	background-color: rgba(113, 113, 113, 1) !important;
	color:white !important;
}
.delete {
	background-color: #bdbdbd !important;
	color:white !important;
}
.review_content,.review_date{
	font-size: 1.3rem;
}
.review_date{
	margin-right: 5px;
}
.page-link:hover,.page-link:visited,.page-link:active,.page-link {
	color: gray !important;
}
.active-page {
	background-color: rgb(243, 243, 243) !important;
} 
.review-conetent-box{
	display: flex;
	justify-content: space-between;
	
}
.review_member_id{
	font-size: 1.2rem;
	font-weight: bold;
}
.product_content{
	color: rgba(113, 113, 113, 1);
}
.product_price{
	font-weight: bold;
}